

    

        @*@if (Request.IsAuthenticated)
            {
                <text>
                    @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav pull-right mainNav"><li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li></ul>
                        </div>
                }
            </text>
            }
            else
            {
    <div class="content-wrapper">
        <div class="float-right">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right mainNav">
                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            </div>
        </div>
    </div>
            }

    <script src="~/assets/js/modernizr-latest.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.cslider.js"></script>
    <script src="~/assets/js/custom.js"></script>*@
        
